html,
body {
  margin: 0;
  padding: 0;
  font: menu;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 5px;
  font-size: 1.4em;
  vertical-align: middle;
  color: #444;
}
h1 img{
  vertical-align: middle;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0;
  color: #666;
}

p {
  margin: .1em;
}

a:link, a:visited {
  color: #228db7;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

#results {
  overflow: auto;
  height: calc(100% - 40px);
}

.menu {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 20px;
  width: 100%;
  text-align: right;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.7);
}

.menu-btn {
  color: #000;
  opacity: .5;
  margin: 0 0 0 20px;
}

.menu-btn:hover{
  opacity: 1;
  text-decoration: none;
}

.info {
  font-weight: bold;
  color: #228db7;
}

.desc {
  opacity: .7;
}
.location{
  opacity: .6;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list li {
  margin: 0;
  padding: 6px;
}

.list li:nth-child(4n+1) {
  border-left: 4px solid #c11a18;
}

.list li:nth-child(4n+2) {
  border-left: 4px solid #e06149;
}

.list li:nth-child(4n+3) {
  border-left: 4px solid #228dB7;
}
.list li:nth-child(4n) {
  border-left: 4px solid #f1e9b4;
}

.spacing {
  text-transform: uppercase;
  opacity: .7;
  color: #E06149;
  margin-right: 1em;
  font-size: .7em;
}

@-moz-keyframes loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader{
  -moz-animation: loader 1250ms infinite linear;
  -webkit-animation: loader 1250ms infinite linear;
  animation: loader 1250ms infinite linear;
  border: 3px solid #ccc;
  border-right-color: transparent;
  border-radius: 16px;
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  margin: 1em auto;
}
