html,
body {
  padding: 0;
  margin: .5em;
  font-size: .9em;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

header {
  position: absolute;
  width: 500px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -250px;
  text-align: center;
}

header h1 {
  font-size: 60px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

p {
  margin: .1em;
}

a:link, a:visited {
  color: #228db7;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.info {
  font-weight: bold;
  color: #228db7;
}

.list {
  padding: 0;
  list-style-type: none;
}

.list li {
  margin: 0 0 .8em .4em;
  padding-left: .5em;
}

.list li:nth-child(4n+1) {
  border-left: 4px solid #c11a18;
}

.list li:nth-child(4n+2) {
  border-left: 4px solid #e06149;
}

.list li:nth-child(4n+3) {
  border-left: 4px solid #228dB7;
}
.list li:nth-child(4n) {
  border-left: 4px solid #f1e9b4;
}

.spacing {
  text-transform: uppercase;
  opacity: .7;
  color: #E06149;
  margin-right: 1em;
  font-size: .7em;
}

.logo {
  height: .7em;
  margin-right: .4em;
}

.loader {
  font-size: 2px;
  margin: 5em auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #aaa;
  background: -moz-linear-gradient(left, #aaa 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #aaa 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #aaa 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #aaa 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #aaa 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #aaa;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
